services:
  app-prod:
    build: .
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production

  app-dev:
    build: .
    command: npm run dev
    ports:
      - '3001:3000'
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
